<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MasterEndPoint" value="127.0.0.1:3000"/>
    <add key="LocalEndPoint" value ="127.0.0.1:3002"/>
  </appSettings>
</configuration>