<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FileName" value="E:\XmlStorage"/>
    <add key="Logging" value="True"/>
    <add key="SlaveAddresses" value="127.0.0.1:3001,127.0.0.1:3002,127.0.0.1:3003,127.0.0.1:3004,127.0.0.1:3005,127.0.0.1:3006,127.0.0.1:3007,127.0.0.1:3008,127.0.0.1:3009"/>
    <add key="MasterAddress" value="127.0.0.1:3000"/>
  </appSettings>
</configuration>